node-red/data/flows.json
[
    {
        "id": "bd832416ffff02bd",
        "type": "tab",
        "label": "Recepción y preprocesado de emails",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7dce45f0a1880d5f",
        "type": "tab",
        "label": "Analisis de email",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b47b0d90b171c52",
        "type": "tab",
        "label": "Disgregación por Categoría",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68522fb764e430f6",
        "type": "tab",
        "label": "Flujo 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9103a031a75231d5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "76b02de1ade43375",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "56b4d55406015f54",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3217a5bc1176f4e9",
        "type": "ui-page",
        "name": "Analisis de emails",
        "ui": "76b02de1ade43375",
        "path": "/urgents",
        "icon": "home",
        "layout": "grid",
        "theme": "56b4d55406015f54",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3e8e0f3662bb15a7",
        "type": "ui-group",
        "name": "My Group",
        "page": "3217a5bc1176f4e9",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "671d4cc51f99e417",
        "type": "mqtt out",
        "z": "bd832416ffff02bd",
        "name": "",
        "topic": "email/raw",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9103a031a75231d5",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "e260454ef3e6ad77",
        "type": "e-mail in",
        "z": "bd832416ffff02bd",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "5",
        "fetch": "auto",
        "inputs": 0,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "ac93f7ac0ac82bf2"
            ]
        ]
    },
    {
        "id": "ac93f7ac0ac82bf2",
        "type": "function",
        "z": "bd832416ffff02bd",
        "name": "Preprocesado de Emails",
        "func": "let formatedEmail = {};\n\nformatedEmail.source = msg.from;\n\nformatedEmail.topic = msg.topic;\n\nformatedEmail.body = msg.payload;\n\nmsg.payload = formatedEmail;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "671d4cc51f99e417",
                "5aa921d1ac1bc428"
            ]
        ]
    },
    {
        "id": "5aa921d1ac1bc428",
        "type": "debug",
        "z": "bd832416ffff02bd",
        "name": "Email Preprocesado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "3ad1fdbfee3d12fe",
        "type": "http request",
        "z": "7dce45f0a1880d5f",
        "name": "POST a Ollama",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://ollama:11434/api/chat",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 320,
        "wires": [
            [
                "2eaddd86dbe41ec8",
                "24d99f72385a5032"
            ]
        ]
    },
    {
        "id": "99a4daa01ea7f3df",
        "type": "mqtt in",
        "z": "7dce45f0a1880d5f",
        "name": "",
        "topic": "email/raw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9103a031a75231d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "98087a70b392e20f",
                "e3866ee888056f20"
            ]
        ]
    },
    {
        "id": "98087a70b392e20f",
        "type": "function",
        "z": "7dce45f0a1880d5f",
        "name": "De email a llamada de Ollama",
        "func": "msg.payload = {\n  \"model\": \"llama3.2\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un analizador basado en NLP cuyo objetivo es analizar el sentimiento y la categoría del siguiente email. La categoría debes distingirla entre: Ventas, Spam, Urgente y Eventos. El sentimiento debe uno de los siguentes: Positivo, Neutral o Negativo. Responde exclusivamente con:\\n <sentimiento> \\n <categoría>. No debes de responder más que lo anteriormente mencionado\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": `De: ${msg.payload.source} \\n Asunto: ${msg.payload.topic} \\n ${msg.payload.body}. analizar el sentimiento y la categoría del siguiente email. La categoría debes distingirla entre: Ventas, Spam, Urgente y Eventos. El sentimiento debe uno de los siguentes: Positivo, Neutral o Negativo. Responde exclusivamente con:\\n <sentimiento> \\n <categoría>.`\n    }\n  ],\n  \"stream\": false\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 320,
        "wires": [
            [
                "3ad1fdbfee3d12fe",
                "876c04eb078b6ac3",
                "ddfcec30e790cdb7"
            ]
        ]
    },
    {
        "id": "e3866ee888056f20",
        "type": "debug",
        "z": "7dce45f0a1880d5f",
        "name": "Llegada de Mensaje al Broker",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "876c04eb078b6ac3",
        "type": "debug",
        "z": "7dce45f0a1880d5f",
        "name": "Entrada a Ollama",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "2eaddd86dbe41ec8",
        "type": "debug",
        "z": "7dce45f0a1880d5f",
        "name": "Salida de Ollama",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 200,
        "wires": []
    },
    {
        "id": "4d2281b39c15801c",
        "type": "function",
        "z": "7dce45f0a1880d5f",
        "name": "Post-Procesado",
        "func": "const response = msg.payload.ollama.message.content\n\nconst noPoints = response.replace(\".\", \"\")\n\nconst splittedRes = noPoints.split('\\n')\n\nconst sentiment = splittedRes[0].trim()\n\nconst category = splittedRes[1].trim()\n\nconst email = msg.payload['email/raw'].messages[1].content\n\nconst newPayload = {\n    \"sentimiento\": sentiment,\n    \"categoria\": category,\n    \"email\": email\n}\n\nmsg.payload = newPayload\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 320,
        "wires": [
            [
                "458b5dfb8ed601d7",
                "2ab7d381cf855dc4"
            ]
        ]
    },
    {
        "id": "458b5dfb8ed601d7",
        "type": "mqtt out",
        "z": "7dce45f0a1880d5f",
        "name": "email/analised",
        "topic": "email/analised",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9103a031a75231d5",
        "x": 1760,
        "y": 320,
        "wires": []
    },
    {
        "id": "ddfcec30e790cdb7",
        "type": "join",
        "z": "7dce45f0a1880d5f",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1310,
        "y": 480,
        "wires": [
            [
                "4d2281b39c15801c",
                "3056ad2f4be298fa"
            ]
        ]
    },
    {
        "id": "24d99f72385a5032",
        "type": "function",
        "z": "7dce45f0a1880d5f",
        "name": "Cambiar Topic a Ollama para Join",
        "func": "msg.topic = \"ollama\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "ddfcec30e790cdb7"
            ]
        ]
    },
    {
        "id": "2ab7d381cf855dc4",
        "type": "debug",
        "z": "7dce45f0a1880d5f",
        "name": "Debug de Post Procesado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 180,
        "wires": []
    },
    {
        "id": "3056ad2f4be298fa",
        "type": "debug",
        "z": "7dce45f0a1880d5f",
        "name": "Salida JOIN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 640,
        "wires": []
    },
    {
        "id": "2b17790bfe7ca765",
        "type": "mqtt in",
        "z": "9b47b0d90b171c52",
        "name": "",
        "topic": "email/analised",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9103a031a75231d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "77dce5afe863a198"
            ]
        ]
    },
    {
        "id": "77dce5afe863a198",
        "type": "switch",
        "z": "9b47b0d90b171c52",
        "name": "",
        "property": "payload.categoria",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Eventos",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Spam",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Ventas",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Urgente",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 680,
        "y": 320,
        "wires": [
            [
                "5d831b13fa7a5ce6",
                "f132ab6fb2f7d027"
            ],
            [
                "dadfc102d9e2d783",
                "92d22c1bcb040e7e"
            ],
            [
                "7c69bbe97c8fb1c3",
                "14572a6118c9853e"
            ],
            [
                "95cb4d10e1c8958f",
                "13e53c7c51631607"
            ]
        ]
    },
    {
        "id": "5d831b13fa7a5ce6",
        "type": "debug",
        "z": "9b47b0d90b171c52",
        "name": "Eventos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "dadfc102d9e2d783",
        "type": "debug",
        "z": "9b47b0d90b171c52",
        "name": "Spam",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "7c69bbe97c8fb1c3",
        "type": "debug",
        "z": "9b47b0d90b171c52",
        "name": "Ventas",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "95cb4d10e1c8958f",
        "type": "debug",
        "z": "9b47b0d90b171c52",
        "name": "Urgente",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 480,
        "wires": []
    },
    {
        "id": "f132ab6fb2f7d027",
        "type": "mqtt out",
        "z": "9b47b0d90b171c52",
        "name": "",
        "topic": "email/events",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9103a031a75231d5",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "92d22c1bcb040e7e",
        "type": "mqtt out",
        "z": "9b47b0d90b171c52",
        "name": "",
        "topic": "email/events",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9103a031a75231d5",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "14572a6118c9853e",
        "type": "mqtt out",
        "z": "9b47b0d90b171c52",
        "name": "",
        "topic": "email/sales",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9103a031a75231d5",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "13e53c7c51631607",
        "type": "mqtt out",
        "z": "9b47b0d90b171c52",
        "name": "",
        "topic": "email/urgent",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9103a031a75231d5",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "cd403a07d5dc0d92",
        "type": "mqtt in",
        "z": "68522fb764e430f6",
        "name": "",
        "topic": "email/events",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9103a031a75231d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 240,
        "wires": [
            []
        ]
    }
]