node-red/data/flows.json
[
    {
        "id": "bd832416ffff02bd",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9103a031a75231d5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "59b9d947f90da184",
        "type": "mqtt in",
        "z": "bd832416ffff02bd",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9103a031a75231d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "26b81d470bcb071f"
            ]
        ]
    },
    {
        "id": "671d4cc51f99e417",
        "type": "mqtt out",
        "z": "bd832416ffff02bd",
        "name": "",
        "topic": "test",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9103a031a75231d5",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "26b81d470bcb071f",
        "type": "debug",
        "z": "bd832416ffff02bd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "e260454ef3e6ad77",
        "type": "e-mail in",
        "z": "bd832416ffff02bd",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "2",
        "fetch": "auto",
        "inputs": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "671d4cc51f99e417"
            ]
        ]
    }
]